@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;

  --color-brand-primary: #F2ADDA;
  --color-brand-primary-hover: #E89CCB;
  --color-brand-bg-light: #FDF2F8;
  --color-brand-bg-cream: #FFFBFB;
  --color-brand-text: #374151;
  --color-brand-text-dark: #1F2937;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-bg-cream);
  color: var(--color-brand-text);
  margin: 0;
  padding: 0;
}